/* Grid mobile */
.gallery-container {
    display: flex;
    flex-direction: column;
}

.gallery__img{
    width: 100%;
}

/* About */

#about {
    padding-top: 40px;
    padding-bottom: 40px;
}

#about p {
    width: 100%;
}

#about h2 {
    padding-bottom: 20px;
}

/* Woks */

#work {
    padding-top: 40px 0;
}

.work-row {
    flex-direction: column;
    padding-bottom: 10px;
}

.work-row p {
    width: 100%;
}

.work-row img {
    width: 100%;
}

/* Projects */

.portfolio {
    padding: 40px 0;
}

.portfolio p {
    width: 100%;
    padding-top: 30px;
}

.portfolio img {
    width: 100%;
}

/* Contact */

#contact {
    padding: 40px 0;
}

#contact form {
    width: 100%;
}
